.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #282c34;
    color: #fff;
    border-radius: 2rem;
}

.song-display {
  text-align: center;
}